.logo_head {
    width: 10rem;
    object-fit: contain;
}
.icons_top {
    width: 1.5rem;
    object-fit: contain;
    background-color: #fff;
    border-radius: 5rem;
}
.icons_top1 {
    border-radius: 0;
}
.avatar {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}