.header_bg {
  background: #010101;
  width: 100%;
}

.rounded-lg {
  border-radius: 1rem;
}

.center {
  margin: 0 auto;
}

.w-80 {
  width: 82%;
}

.main-bg {
  background-color: #010101;
  width: 100%;
}

.product-box {
  width: 25rem;
  height: 10rem;
}

.w-70 {
  width: 70%;
}

.w-10 {
  width: 10rem;
}
.width_user {
  width: 22rem;
  // height: 20rem;
}
.width_img {
  width: 12.5rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 15px;
  margin: 3rem 5px 5px 5px;
}

.image_users {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  margin: 5px;
}
.text_id {
  font-size: 0.75rem;
  color: lightblue;
}

.height-user {
  height: 20.2rem;
}
.color_gradient {
  width: 16rem;
  border: 2px solid !important;
  border-image: linear-gradient(45deg, #ac32e4, #4a02fe) 1 !important ;
  padding: 0.75rem 1rem;
  font-size: 0.85rem;
}
.active_follow {
  background: linear-gradient(to right, #ac32e4, #4a02fe);
  font-weight: bold;
}

.shuffle {
  width: 8rem;
  height: 20rem;
  border-radius: 10px;
  border: 1px solid #494949;
  background: #1a1a1a;
}

.shuffle > img,
span {
  color: #fff;
}

.btn-group > .btn_setting {
  // width: 115px;
  font-size: 12.5px;
}
.btn-group > .btn_setting:first-of-type {
  color: #4a02fe;
}

@media screen and (max-width: 375px) {
  .smviewb {
    display: inline-block;
  }
  .container {
    max-width: 375px;
    // overflow: hidden;
  }
  .sm-margin {
    margin-top: 2.5rem;
  }
  .overflow_image {
    overflow: scroll;
  }
  .overflow_hid {
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .display-grid {
    max-width: 768px;
    overflow: hidden;
  }
  .overflow_image {
    overflow: scroll;
  }
  .overflow_hid {
    overflow: hidden;
  }
  .sm-width {
    width: 80%;
    margin: 10px;
  }
  .height-user {
    // height: 20rem;
    width: 19rem;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
@media screen and (max-width: 1024px) {
  .w-40 {
    width: 45%;
  }
  .overflow_image {
    overflow: scroll;
  }
  .overflow_hid {
    overflow: hidden;
  }
}
